body {
    margin: o;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    height: 55px
  }

li {
    float: left;
    position: fixed
}

li a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    color: white;
}

li a:hover {
    background-color: teal;
}

