body {
    margin:0;
    font-size: 30px;
    background-color: lightblue;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chartreuse;
    height: 55px
  }

li {
    float: left;
}

li a {
    display: block;
    padding: 20px 16px;
    text-decoration: none;
    color: white;   
}

li a:hover {
    background-color:black;
}


#Sidebar {
    top: 0;
    display: inline;
    right: 0;
    margin:  0px;
    padding: 20px;
    background-color: transparent;  
     z-index: 1;
     float: right;  
     position: fixed;
     padding-top: 40px
}

#Sidebar ul{
    color: white;
    float: right;
}

#Sidebar li a {
    
    padding: 0px 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
} 


